---
title: Spinner
description: An indicator that can be used to show a loading state.
---

<ComponentPreview name="p-spinner-1" />

## Installation

<InstallCommand
  pnpm="pnpm add @coss-sv/ui"
  shadcnSvelte="pnpm dlx shadcn-svelte@latest add https://coss-sv.vercel.app/r/spinner.json"
/>

## Usage

```svelte
<script lang="ts">
  import { Spinner } from "@coss-sv/ui/components/ui/spinner";
</script>

<Spinner />
```

## API Reference

### Spinner

Use the `Spinner` component to display a loading indicator. Native SVG attributes pass to the element.

| Prop                  | Type               | Default |
| --------------------- | ------------------ | ------- |
| `class`               | `string`           |         |
| `size`                | `number \| string` | `24`    |
| `strokeWidth`         | `number \| string` | `2`     |
| `absoluteStrokeWidth` | `boolean`          | `false` |

## Examples

### Input Group

<ComponentPreview name="p-input-12" />

### Button

<ComponentPreview name="p-button-18" />
